<meta name="viewport" content="width=device-width">
<!-- link to main stylesheet -->
<link rel="stylesheet" href="{{'/assets/main.css' | prepend: site.baseurl}}">
<script src="{{'/assets/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/popper.js/dist/umd/popper.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">