<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top border-top border-bottom mb-5">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expaned="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="navbarNavDropdown" class="navbar-collapse collapse">
		<ul class="navbar-nav">
		  {% for item in site.data.navigation %}
			<li class="nav-item">
				<a class="nav-link" href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
			</li>
		  {% endfor %}
		</ul>
	</div>
</nav>
