<meta name="viewport" content="width=device-width">
<!-- link to main stylesheet -->
<link rel="stylesheet" href="{{'/assets/main.css' | prepend: site.baseurl}}">
<!--script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/node_modules/popper.js/dist/umd/popper.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/node_modules/fontawesome-free-5.7.2-web/css/all.css' | prepend: site.baseurl}}"></script-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">