<!DOCTYPE html>
<html>
	<head>

	   <title>{{ page.title }}</title>
        <meta charset="utf-8">
        {% include head.html %}
        <script src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
        <script src="{{'/assets/vendor/popper.min.js' | prepend: site.baseurl}}"></script>
        <script src="{{'/assets/vendor/bootstrap.min.js' | prepend: site.baseurl}}"></script>
		<link href='https://fonts.googleapis.com/css?family=Gudea' rel='stylesheet'>
		<style>
		body {
			font-family: 'Gudea';font-size: 22px;
		}
</style>
	</head>
	<body>
        {% include header.html %}
		<div class="container pt-5 mt-5">
    		{{ content }}

				<!--for viewer to add commets-->
				{% include disqus.html %}
		</div><!-- /.container -->

      {% include footer.html %}

	</body>
</html>
