<!DOCTYPE html>
<html>
	<head>

	   <title>{{ page.title }}</title>
        <meta charset="utf-8">
        {% include head.html %}
        <script src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
        <script src="{{'/assets/vendor/popper.min.js' | prepend: site.baseurl}}"></script>
        <script src="{{'/assets/vendor/bootstrap.min.js' | prepend: site.baseurl}}"></script>

	</head>
	<body>
        {% include header.html %}
		<div class="container pt-5 mt-5">
    		{{ content }}
		</div><!-- /.container -->

        {% include footer.html %}

	</body>
</html>
